<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Test</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="todo.js"></script>
</head>

<body >
<div ng-controller="todo">
    <form >
        <p>Todo Tabel:{{todoInput}}</p>
        <div>
            <textarea rows="10" cols="50" ng-model="todoInput" placeholder="Enter your reminder"> </textarea>
            <br />
        </div>
        <div>
            <input type="submit" value="save" ng-click="todoAdd()">
            <input type="submit" value="clear" ng-click="todoclear()" >
        </div>
    </form>
    <div>
        <table>
            <tr>
                <td ng-repeat="x in finalList">{{x}}</td>
            </tr>
        </table>
        <!-- <input type="text" ng-model="x.done"> 
    <span ng-bind="x.todoText"></span> -->
    </div>
    </div>
</body>

</html>
